main > div#aboutPage {
    grid-template-areas:
            ".           hero-ap        ."
            "desc-ap     desc-ap        desc-ap";
}
@media screen and (max-width: 780px) {
    main > div#aboutPage {
        grid-template-areas:
                "hero-ap           hero-ap           hero-ap  "
                "desc-ap           desc-ap           desc-ap";
    }
}

#hero-aboutPage {
    grid-area: hero-ap;
}

#description-aboutPage {
    grid-area: desc-ap;
}

/*
  Profil picture
  Don't display on small screen
*/
.about-profile-img {
    display: none;
}
@media screen and (min-width: 550px) {
    .about-profile-img {
        display: inline-block;
        width: 180px;
        padding: 10px 25px 0 0;
        float: left;
    }
    .about-content {
        display: inline;
    }
}