main > div#homePage {
    grid-template-areas:
            ".                 hero-hp           ."
            "pictures-hp       pictures-hp      pictures-hp"
            "services-hp       services-hp       services-hp"
            "details-hp  details-hp details-hp"
            "workshops-hp      workshops-hp      workshops-hp"
            "call2action-hp    call2action-hp    call2action-hp";
}
@media screen and (max-width: 780px) {
    main > div#homePage {
        grid-template-areas:
                "hero-hp           hero-hp           hero-hp  "
                "pictures-hp       pictures-hp       pictures-hp"
                "services-hp       services-hp       services-hp"
                "details-hp  details-hp details-hp"
                "workshops-hp      workshops-hp      workshops-hp"
                "call2action-hp    call2action-hp    call2action-hp";
    }
}


/**
    Hero
 */
#hero-homePage {
    grid-area: hero-hp;
}


/**
    Services (text content 1)
 */
#services-homePage {
    grid-area: services-hp;
}
@media screen and (min-width: 550px) {
    #services-homePage {
        grid-column: 2 / 3;
    }
}
#servicesDetails-homePage {
    grid-area: details-hp;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2.5em;
}
#workshops-homePage {
    grid-area: workshops-hp;
}
@media screen and (min-width: 550px) {
    #workshops-homePage {
        grid-column: 2 / 3;
    }
}

#servicesDetails-homePage .serviceItem {
    text-align: center;
}
#servicesDetails-homePage .serviceItem img {
    width: 50%;
    object-fit: scale-down;
}
#servicesDetails-homePage .serviceItem p {
    text-align: initial;
}
@media screen and (max-width: 500px) {
    #servicesDetails-homePage .serviceItem p {
        padding: 0 20px;
    }
}

#servicesDetails-homePage .serviceItem p span {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    font-size: 1.25em;
}


/**
    Call 2 action
 */
#call2action-homePage {
    grid-area: call2action-hp;
    display: grid;
    grid-template-columns: 5fr 1fr;
}
@media screen and (max-width: 780px) {
    #call2action-homePage {
        display: none;
    }
}

#call2action_ribbon {
    display: flex;
    align-items: baseline;
    padding-top: 80px;
    padding-left: 52px;
    background: url(../assets/img/call2action_ribbon.jpg) no-repeat left center,
    url(../assets/img/call2action.png) repeat-x center left;
}

#call2action_ribbon p {
    flex: 7;
    margin: 0 20px 0 0;
    letter-spacing: 0px;
    line-height: 100%;
}

#call2action_ribbon_prop {
    width: 206px;
    height: 207px;
    position: relative;
    text-align: center;
    background: url(../assets/img/call2action_circle_bg.png) left no-repeat;
}

#call2action_ribbon_prop .inside {
    margin-top: 45px;

}

#call2action_ribbon_prop span:nth-child(odd) {
    font-size: 16px;
    font-style: italic;
    font-family: times;
}

#call2action_ribbon h3 {
    font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
    font-size: 33px;
    letter-spacing: 2px;
    flex: 5;
    margin: 0 30px 0 20px;
}

.ribbon_prop_1 {
    position: absolute;
    background: url(../assets/img/call2action_circle.png) left 0px no-repeat;
    width: 206px;
    height: 205px;
    z-index: 2;
}

.ribbon_prop_1 .inside span > a {
    color: #ffffff;
}

.ribbon_prop_2 .inside span > a {
    color: #39444a;
}

.ribbon_prop_1:hover {
    opacity: 0;
    cursor: pointer;
}

.ribbon_prop_2 {
    position: absolute;
    background: url(../assets/img/call2action_circle.png) left -205px no-repeat;
    width: 206px;
    height: 205px;
}

.ribbon_prop_2:hover {
    opacity: 1;
}



/**

 */
.request {
    font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
    font-size: 2.75em;
    line-height: 100%;
    margin-top: 10px;
    letter-spacing: 3px;
    display: block;
}

/**
    Pictures home page
 */
#pictures-homePage {
    grid-area: pictures-hp;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 5em;
    margin-top: 0;
}
@media screen and (max-width: 768px) {
    #pictures-homePage {
        display: none;
    }
}

#pictures-homePage figure {
    margin: 0;
}

#pictures-homePage img {
    border: 10px solid #fff;
    width: 100%;
}