main > div#homePage {
    grid-template-areas:
            ".                 hero-hp           ."
            "pictures-hp       pictures-hp      pictures-hp"
            "services-hp       services-hp       services-hp"
            "details-hp  details-hp details-hp"
            "workshops-hp      workshops-hp      workshops-hp"
            "call2action-hp    call2action-hp    call2action-hp";
}



/**
    Hero
 */
#hero-homePage {
    grid-area: hero-hp;
}


/**
    Services (text content 1)
 */
#services-homePage {
    grid-area: services-hp;
    grid-column: 2 / 3;
}
#servicesDetails-homePage {
    grid-area: details-hp;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
}
#stuff-homePage {
    grid-area: stuff-hp;
}
#workshops-homePage {
    grid-area: workshops-hp;
    grid-column: 2 / 3;
}

#servicesDetails-homePage .serviceItem {
    text-align: center;
}
#servicesDetails-homePage .serviceItem p {
    text-align: initial;
}
#servicesDetails-homePage .serviceItem p span {
    margin-bottom: 5px;
    display: block;
}
/**
    Call 2 action
 */
#call2action-homePage {
    grid-area: call2action-hp;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

#call2action_ribbon {
    display: grid;
    grid-template-columns: 6fr 6fr;
    align-items: baseline;
    padding-top: 63px;
    padding-left: 60px;
    background: url(/assets/call2action_ribbon.jpg) no-repeat left center,
    url(/assets/call2action.png) repeat-x center left;
}

#call2action_ribbon h1 {
    margin-right: 30px;
    justify-self: center;
}

#call2action_ribbon_prop {
    width: 206px;
    height: 207px;
    position: relative;
    text-align: center;
    background: url(/assets/call2action_circle_bg.png) left no-repeat;
}

#call2action_ribbon_prop .inside {
    margin-top: 49px;

}

#call2action_ribbon_prop span:nth-child(odd) {
    font-size: 16px;
    font-style: italic;
    font-family: times;
}

#call2action_ribbon h1 {
    font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
    font-size: 33px;
    letter-spacing: 2px;
}

.ribbon_prop_1 {
    position: absolute;
    background: url(/assets/call2action_circle.png) left 0px no-repeat;
    width: 206px;
    height: 205px;
    z-index: 2;
}

.ribbon_prop_1 .inside span > a {
    color: #ffffff;
}

.ribbon_prop_2 .inside span > a {
    color: #39444a;
}

.ribbon_prop_1:hover {
    opacity: 0;
    cursor: pointer;
}

.ribbon_prop_2 {
    position: absolute;
    background: url(/assets/call2action_circle.png) left -205px no-repeat;
    width: 206px;
    height: 205px;
}

.ribbon_prop_2:hover {
    opacity: 1;
}



/**

 */
.request {
    font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
    font-size: 2.75em;
    line-height: 100%;
    margin-top: 10px;
    letter-spacing: 3px;
    display: block;
}

/**
    Pictures home page
 */
#pictures-homePage {
    grid-area: pictures-hp;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 2em;
    margin-top: 0;
}

#pictures-homePage figure {
    margin: 0;
}

#pictures-homePage img {
    border: 10px solid #fff;
    width: 100%;
    height: 400px;
}

#picture1 {
    grid-area: picture1;
    grid-column: 1 / 2;
}

#picture2 {
    grid-area: picture2;
    grid-column: 2 / 3;
}