/**
    Services Page Stylesheet
 */

main > div#servicesPage {
    grid-template-areas:
            ".                               hero-sp        ."
            "workshops-sp                    workshops-sp                    workshops-sp"
            "consultingForCompanies-sp       consultingForCompanies-sp       consultingForCompanies-sp"
            "consultingForIndividuals-sp     consultingForIndividuals-sp     consultingForIndividuals-sp";
}


/**
    Hero Services Page
 */
#hero-servicesPage {
    grid-area: hero-sp;
}
#workshops-servicesPage {
    grid-area: workshops-sp;
}
#consultingForCompanies-servicesPage {
    grid-area: consultingForCompanies-sp;
}
#consultingForIndividuals-servicesPage {
    grid-area: consultingForIndividuals-sp;
}