/**
    Workshops page
 */


main > div#workshopPage {
    grid-template-areas:
            ".                 hero-wp           ."
            "workshopFlyer-wp  workshopFlyer-wp  workshopFlyer-wp"
            "section1-wp       section1-wp       section1-wp"
            "offers-wp         offers-wp         offers-wp";
}
@media screen and (max-width: 780px) {
    main > div#workshopPage {
        grid-template-areas:
                "hero-wp           hero-wp           hero-wp"
                "workshopFlyer-wp  workshopFlyer-wp  workshopFlyer-wp"
                "section1-wp       section1-wp       section1-wp"
                "offers-wp         offers-wp         offers-wp";
    }
}

#hero-workshopPage {
    grid-area: hero-wp
}
@media screen and (max-width: 550px) {
    #hero-workshopPage h1 {
        white-space: normal;
    }
}

#workshopFlyer-workshopPage {
    grid-area: workshopFlyer-wp;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 5em;
}
@media screen and (max-width: 550px) {
    #workshopFlyer-workshopPage {
        display: none;
    }
}
#workshopFlyer-workshopPage img {
    width:100%;
    border: 7px solid #fff;
}
#offers-workshopPage {
    display: grid;
    grid-area: offers-wp;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 5em;
}

#offers-workshopPage .goals-workshopPage {
    min-height: 520px;
}

#teaserWorkshop {
    font-weight: bold;
    text-align: center;
    border: 7px solid #fff;
    align-self: center;
}
@media screen and (max-width: 768px) {
    #teaserWorkshop {
        line-height: 2em;
        font-size: 0.7em;
    }
}
@media screen
and (min-width: 768px)
and (max-width: 1024px) {
    #teaserWorkshop {
        line-height: 2em;
        font-size: 1.1em;
    }
}
@media screen
and (min-width: 1024px)
and (max-width: 1200px) {
    #teaserWorkshop {
        line-height: 2em;
        font-size: 1.4em;
    }
}
@media screen
and (min-width: 1200px)
and (max-width: 2500px) {
    #teaserWorkshop {
        line-height: 3em;
        font-size: 1.7em;
    }
}



#section1-workshopPage {
    grid-area: section1-wp;
}
@media screen and (min-width: 550px) {
    #section1-workshopPage {
        grid-column: 2 / 3;
    }
}

.public-workshopPage {
    height: 280px;
}
.programme-workshopPage {
    height: 465px;
}