main > div#workshopPage {
    grid-template-areas:
            ".                 hero-wp           ."
            "workshopFlyer-wp  workshopFlyer-wp  workshopFlyer-wp"
            "section1-wp       section1-wp       section1-wp"
            "offers-wp         offers-wp         offers-wp";
}

#hero-workshopPage {
    grid-area: hero-wp
}
#workshopFlyer-workshopPage {
    grid-area: workshopFlyer-wp;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 1.5em;
}
#workshopFlyer-workshopPage img {
    width:100%;
    border: 7px solid #fff;
}
#offers-workshopPage {
    display: grid;
    grid-area: offers-wp;
    grid-template-columns: 4fr 4fr 4fr;
    grid-column-gap: 5em;
}

#offers-workshopPage .goals-workshopPage {
    min-height: 520px;
}
#teaserWorkshop {
    font-weight: bold;
    line-height: 3em;
    font-size: 2em;
    text-align: center;
    border: 7px solid #fff;
    align-self: center;
}
#section1-workshopPage {
    grid-area: section1-wp;
    grid-column: 2 / 3;
}

.public-workshopPage {
    height: 280px;
}
.programme-workshopPage {
    height: 465px;
}