#contactPage {
    margin-bottom: 50px;
}



.contact-icons {
    width: 1.5em;
    margin: 5px 10% 0 0;
}

#contact-hero {
    margin-bottom: 50px;
}

#contact-info {
    grid-row: 2;
}
@media screen
and (max-width: 980px) {
    #contact-info {
        grid-column: 2/12;
    }

    .contact-subtitles {
        font-size: 1.5em;
        margin-top: 60px;
    }
}
@media screen
and (min-width: 980px) {
    #contact-info {
        grid-column: 2/7;
        padding-right: 6%;
    }

    .contact-subtitles {
        font-size: 1.5em;
        margin-top: 100px;
    }
}


@media screen
and (max-width: 980px) {
    #contact-form {
        grid-column: 2/12;
        grid-row: 3;
    }
}
@media screen
and (min-width: 980px) {
    #contact-form {
        grid-column: 7/12;
        grid-row: 2;
        margin-top: 128px;
        padding-left: 6%;
    }
}

#contact-form input, textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
#contact-form button {
    display: block;
    width: 40%;
}

#contact-form p {
    margin: 0;
    height: 35px;
    color: red;
}

#contact-form input#name {
    display: block;
    width: 100%;
    height: 35px;
    border: #39444a solid 1px;
}

#contact-form input#email {
    height: 35px;
    border: #39444a solid 1px;
}

#contact-form textarea {
    border: #39444a solid 1px;
}

#contact-form button {
    height: 36px;
    background-color: #fdc300;
    box-shadow: 0px 0px 5px 1px #5a626782;
    font-family: "Roboto Slab",serif;
}
#contact-form button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px #5a626782;
}