#contactPage {
	#contact-hero {
		margin-bottom: 50px;
	}
	
	#contact-info {
		grid-row: 2;
		
		@media screen and (max-width: 980px) {
			& {
				grid-column: 2/12;
			}
			
			.contact-subtitles {
				font-size: 1.5em;
				margin-top: 60px;
			}
		}
		@media screen and (min-width: 980px) {
			& {
				grid-column: 2/7;
				padding-right: 6%;
			}
			
			.contact-subtitles {
				font-size: 1.5em;
				margin-top: 100px;
			}
		}
		
		.contact-icons {
			width: 1.5em;
			margin: 5px 10% 0 0;
		}
	}
	
	#contact-form {
		@media screen and (max-width: 980px) {
			& {
				grid-column: 2/12;
				grid-row: 3;
			}
		}
		@media screen and (min-width: 980px) {
			& {
				grid-column: 7/12;
				grid-row: 2;
				margin-top: 128px;
				padding-left: 6%;
			}
		}
		
		& input, textarea {
			box-sizing: border-box;
			display: block;
			font-size: 1em;
			width: 100%;
		}
		
		& input#name {
			height: 35px;
			border: #39444a solid 1px;
		}
		
		& input#email {
			height: 35px;
			border: #39444a solid 1px;
		}
		
		& textarea#message {
			border: #39444a solid 1px;
		}
		
		& button {
			background-color: #fdc300;
			box-shadow: 0 0 2px 1px #5a626740;
			display: block;
			font-family: "Roboto Slab", serif;
			font-size: 1em;
			height: 36px;
			width: 40%;
			
			&:hover {
				cursor: pointer;
				box-shadow: 0 0 15px 2px #5a626782;
			}
		}
		
		& p {
			margin: 0;
			height: 35px;
			color: red;
		}
	}
}