/* Row 2 */
#projects-resourcesPage {
    grid-column: 2/12;
    grid-row: 2;
}

/* Nespresso Lightning */
#nespressoLightningDesc video {
    border: 10px solid #fff;
    display: block;
    margin: 40px auto;
}
@media screen and (max-width: 550px) {
    #nespressoLightningDesc video {
        width: 300px;
    }
}
@media screen and (min-width: 550px) and (max-width: 768px) {
    #nespressoLightningDesc video {
        width: 450px;
    }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
    #nespressoLightningDesc video {
        width: 600px;
    }
}
@media screen and (min-width: 980px) {
    #nespressoLightningDesc video {
        width: 700px;
    }
}
/* */


#NespressoLightningPrice1 {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}
#NespressoLightningPrice2 {
    display: block;
}
/* ---- */

/* Row 3 */
#slides-resourcesPage {
    grid-column: 2/12;
    grid-row: 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.slideItemContainer {
    overflow: hidden;
    height: 169px;
}

.slideItemContainer2 {
    height: 169px;
    min-width: 100px;
    margin-bottom: 50px;
    flex: 0 0 285px;
}
/* Trick for positioning last element correctly */
.extraItem {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.slideItemContainer2 div.slideButton {
    text-align: center;
    line-height: 140%;
    outline: none;
    width: 100%;
    border-radius: 0.1px;
    cursor: pointer;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255,255,255,1);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px groove rgba(57, 68, 74, 0.3);
    position: relative;
}

.slideItemContainer2 div.slideButton a {
    text-decoration: none;
    color: #39444a;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;

    font-weight: bold;
    font-family: "Pathway Gothic One",serif;
    font-size: 14px;
    letter-spacing: 10px;
}

.slideItemContainer2 div.slideButton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(255,255,255,0.5);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.slideItemContainer2.fakeItemContainer div.slideButton::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background-color: rgba(201, 24, 0, 0.5);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(0.5, 1);
    transform: scale(0.5, 1);
}
.slideItemContainer2 div.slideButton:hover::before{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}


object.slideItem {
    top: -56px;
    position: relative;
    height: 225px;
}
/* Target Firefox only */
@-moz-document url-prefix() {
    object.slideItem {
        top: -28px;
        float: right;
    }
}

object.slideItem.fakeItem {
    filter: blur(0.3rem);
    max-width: 300px;
}

#slides-resourcesPage h2 {
    width: 100%;
    margin-bottom: 1em;
}

.slidesDesc {
    margin-top: 30px;
    width: 100%;
}
/* --- */