#workshopPage {
	section#workshopFlyer {
		grid-column: 2/12;
		grid-row: 2;
		row-gap: 20px;
		
		@media screen and (max-width: 550px) {
			& {
				display: none;
			}
		}
		
		@media screen and (min-width: 980px) {
			& {
				display: grid;
				grid-column-gap: 5em;
				grid-template-columns: 8fr 4fr;
			}
		}
		
		img {
			width: 100%;
			border: 7px solid #fff;
			box-sizing: border-box;
		}
		
		#teaserWorkshop {
			font-weight: bold;
			text-align: center;
			border: 7px solid #fff;
			align-self: center;
			
			@media screen and (max-width: 768px) {
				& {
					line-height: 2em;
					font-size: 0.7em;
				}
			}
			
			@media screen and (min-width: 768px) and (max-width: 1024px) {
				& {
					line-height: 2em;
					font-size: 1.1em;
				}
			}
			
			@media screen and (min-width: 1024px) and (max-width: 1200px) {
				& {
					line-height: 2em;
					font-size: 1.4em;
				}
			}
			
			@media screen and (min-width: 1200px) {
				& {
					line-height: 3em;
					font-size: 1.7em;
				}
			}
		}
	}
	
	
	section#masterTheKing {
		grid-column: 2/12;
		grid-row: 3;
		
		@media screen and (min-width: 768px) {
			& {
				grid-column: 4/10;
			}
		}
	}
	
	section#agenda-container {
		grid-column: 2/12;
		grid-row: 4;
		
		#agenda {
			display: grid;
			grid-row-gap: 40px;
			
			@media screen and (min-width: $screen-md-min) {
				grid-template-columns: 1fr 1fr;
				column-gap: 7%;
			}
			
			.distance {
				&__prices {
					border: 7px solid #fff;
					font-weight: bold;
					line-height: 4em;
					margin: 3em 0 2em 0;
					padding: 15px;
					text-align: center;
					
					@media screen and (max-width: $screen-xxs-max) {
						font-size: 0.75em;
					}
				}
			}
		}
		
		
		#buttonRegisterWorkshop {
			text-align: center;
			margin: 15px;
			
			& button {
				display: inline-block;
			}
		}
	}
	
	section#offers {
		grid-column: 2/12;
		grid-row: 5;
		
		.offers-h2 {
			margin-bottom: 5px;
		}
		
		.offers-h3 {
			margin-top: 10px;
		}
	}
}

.swal-modal {
	.swal-title {
		font-family: 'Roboto Condensed', sans-serif;
	}
	.swal-text {
		font-family: 'Roboto Slab', serif;
	}
	
	#registrationFirstScreen {
		.swal-text {
			margin-bottom: 30px;
		}
		
		button {
			float: right;
			margin-bottom: 20px;
		}
	}
	
	#registrationSecondScreen {
		#training-offers {
			margin-left: 50px;
			margin-top: 20px;
			text-align: start;
			
			.training__radio-label {
				font-family: "Roboto Slab", serif;
				font-size: 0.85em;
				margin-left: 5px;
			}
		}
		
		#buttons {
			margin-top: 50px;
			
			& > button, form {
				display: inline-block;
			}
			
			button {
				margin-right: 10px;
				position: relative;
				bottom: 14px;
			}
			
			form {
				margin-left: 10px;
			}
		}
	}
}