/**
    Polices
    - Pathway Gothic One  (headers)
    - Roboto Slab (normal text)
    - Roboto Condensed (bold text)

    CSS Grid
    Same grid on .wrapper and main > div
    Need to repeat as subgrid is not available yet

    Colors
    primary: #39444a;
    secondary: #fffff;

    Breakpoints
    550
    768
    980
    1200
 */

/* roboto-condensed-regular - latin */
@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
	url('../fonts/roboto-condensed-v18-latin/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/roboto-condensed-v18-latin/roboto-condensed-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
	url('../fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/roboto-slab-v9-latin/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pathway-gothic-one-regular - latin */
@font-face {
	font-family: 'Pathway Gothic One';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Pathway Gothic One Regular'), local('PathwayGothicOne-Regular'),
	url('../fonts/pathway-gothic-one-v8-latin/pathway-gothic-one-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('../fonts/pathway-gothic-one-v8-latin/pathway-gothic-one-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	background: #e4e8e9 url('../img/background.jpg') repeat left top;
	color: #39444a;
	line-height: 180%;
	margin: auto;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	#root {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		
		.loader {
			svg {
				width: 100%;
				height: 50vh;
				position: fixed;
				top: 25%;
				left: 0;
			}
		}
		
		main {
			grid-row: 2;
			grid-column: 1/13;
			
			& > div {
				display: grid;
				grid-template-columns: repeat(12, 1fr);
				font-family: "Roboto Slab", serif;
				font-size: 17px;
				letter-spacing: 0.3px;
				min-height: 700px;
				
				section {
					margin: 30px 0;
				}
			}
		}
	}
}

.hr {
	clear: both;
	height: 6px;
	background: url('../img/border.png') top repeat-x;
	width: 100%;
	
	hr {
		display: none;
	}
}

.hr75pc {
	clear: both;
	height: 6px;
	background: url(../img/border.png) top repeat-x;
	width: 75%;
}

/**
    HEADERS
 */
h1, h2, h3 {
	font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
}

h1 {
	font-weight: bold;
	line-height: 85%;
	margin: 20px 0 0 0;
	white-space: nowrap;
	
	@media screen and (max-width: 350px) {
		& {
			font-size: 3.15em;
		}
	}
	
	@media screen and (min-width: 350px) and (max-width: 550px) {
		& {
			font-size: 3.5em;
		}
	}
	
	@media screen and (min-width: 550px) and (max-width: 768px) {
		& {
			font-size: 4.5em;
		}
	}
	
	@media screen and (min-width: 768px) and (max-width: 980px) {
		& {
			font-size: 5em;
		}
	}
	@media screen and (min-width: 980px) and (max-width: 1200px) {
		& {
			font-size: 5.5em;
		}
	}
	@media screen and (min-width: 1200px) {
		& {
			font-size: 6em;
		}
	}
}


h2 {
	line-height: 100%;
	margin: 15px 0 25px 0;
	
	@media screen and (max-width: 350px) {
		& {
			font-size: 2.3em;
		}
	}
	
	@media screen and (min-width: 350px) and (max-width: 550px) {
		& {
			font-size: 2.4em;
		}
	}
	
	@media screen and (min-width: 550px) and (max-width: 768px) {
		& {
			font-size: 2.5em;
		}
	}
	
	@media screen and (min-width: 768px) and (max-width: 980px) {
		& {
			font-size: 2.6em;
		}
	}
	@media screen and (min-width: 980px) and (max-width: 1200px) {
		& {
			font-size: 2.7em;
		}
	}
	@media screen and (min-width: 1200px) {
		& {
			font-size: 2.75em;
		}
	}
}

h3 {
	line-height: 100%;
	font-size: 2em;
	margin: 30px 0 15px 0;
}


a {
	color: #1a057d;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	
	&:hover {
		color: #f79513;
	}
}

.nav {
	grid-row: 1;
	grid-column: 1/13;
	background: white;
	height: 70px;
	box-shadow: 0 2px 40px #39444a;
	z-index: 5;
	
	ul {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		margin: 0 6%;
		padding: 0;
		list-style: none;
		
		li {
			font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
			font-size: 25px;
			font-weight: normal;
			margin: 0 8px;
			
			@media screen and (max-width: 350px) {
				& {
					margin: 0 4px;
				}
			}
			@media screen and (max-width: 620px) {
				& {
					font-size: 16px;
					letter-spacing: -1px;
					left: 0;
				}
			}
			
			a {
				color: #39444a;
				text-decoration: none;
				cursor: pointer;
			}
			
			&:first-child {
				position: absolute;
				top: 0;
				left: 0;
				width: 50px;
				margin: 10px 0 0 120px;
				
				@media screen and (max-width: 550px) {
					& {
						margin: 10px 0 0 10px;
					}
				}
			}
		}
	}
}


.hero {
	margin-top: 30px;
	grid-row: 1;
	
	p {
		font-family: "Roboto Condensed", sans-serif;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		margin-bottom: 30px;
	}
	@media screen and (max-width: 550px) {
		& {
			font-size: 20px;
			grid-column: 2/12;
		}
	}
	@media screen and (min-width: 550px) and (max-width: 768px){
		& {
			font-size: 23px;
			grid-column: 2/12;
		}
	}
	@media screen and (min-width: 768px) {
		& {
			font-size: 23px;
			grid-column: 4/10;
		}
	}
}

footer {
	grid-row: 3;
	grid-column: 2/12;
	display: flex;
	height: 207px;
	margin-top: 60px;
	margin-bottom: 50px;
	padding-left: 20%;
	line-height: 140%;
	
	background: url(../img/footer_right_207px.png) no-repeat scroll right bottom,
	url(../img/footer_left_207px.png) no-repeat scroll left bottom,
	url(../img/footer_bg_207px.png) repeat scroll right bottom transparent;
	
	& > div {
		padding: 20px;
		
		@media screen and (max-width: 768px) {
			& {
				width: 200px;
			}
		}
		
		@media screen and (min-width: 768px) {
			& {
				width: 248px;
			}
		}
		
		& h2 {
			font-family: 'Pathway Gothic One', Helvetica, Arial, "Trebuchet MS", sans-serif;
			font-size: 26px;
			font-weight: normal;
			letter-spacing: 3px;
			margin-right: 20px;
			margin-bottom: 10px;
		}
		
		nav ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			
			li {
				font-family: "Roboto Condensed", sans-serif;
				font-size: 14px;
				letter-spacing: normal;
				line-height: 175%;
				
				@media screen and (max-width: 768px) {
					& {
						letter-spacing: -1px;
					}
				}
				
				a {
					color: #39444a;
					text-decoration: none;
					padding-left: 14px;
					background: url(../img/footer_li_arrow.png) no-repeat 0 1px;
					
					&:hover {
						color: #fff;
						text-decoration: none;
						padding-left: 14px;
						background: url(../img/footer_li_arrow.png) no-repeat 0px -18px;
					}
				}
			}
		}
	}
	
	@media screen and (max-width: 550px) {
		& #services_footer {
			display: none;
		}
	}
}


#copyrights {
	grid-row: 4;
	grid-column: 2/12;
	text-align: center;
	line-height: 75%;
	margin-bottom: 30px;
	
	@media screen and (max-width: 768px) {
		& {
			line-height: 140%;
		}
	}
	
	a {
		color: #3a454b !important;
	}
	
	.strike {
		display: inline-block;
		width: 50%;
		border: solid 0.5px;
	}
}

/* Trick to avoid scrapping bots */
.e-mail:before {
	content: attr(data-website) "\0040" attr(data-user);
	unicode-bidi: bidi-override;
	direction: rtl;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: #39444a solid 1px;
}
input[type="radio"] {
  outline: none;
}

button {
	&.btn-yellow {
		background-color: #fdc300;
		box-shadow: 0 0 2px 2px #5a626740;
		border: none;
		display: block;
		font-family: "Roboto Slab", serif;
		font-size: 1em;
		height: 36px;
		@media screen and (max-width: 980px) {
			& {
				width: 100%;
			}
		}
		@media screen and (min-width: 980px) {
			& {
				width: 50%;
			}
		}
		
		&:hover {
			cursor: pointer;
			box-shadow: 0 0 15px 2px #5a626782;
		}
	}
	
	&.btn-link {
		background: none;
		border: none;
		color: #39444a;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}
}

.form {
	& input, textarea {
		box-sizing: border-box;
		display: block;
		font-size: 1em;
		width: 100%;
		border: #39444a solid 1px;
		padding: 10px;
	}
	
	& p {
		margin: 0;
		height: 35px;
		color: red;
	}
}